html, body {
    background-color: rgb(243, 243, 17);
    min-height: 100%;
    font-size: 1rem;
}

h1 {
    font-weight: bold;
}

nav {
    background-color: rgb(243, 243, 17);
}

.page-container {
    margin-top: 120px;
    margin-bottom: 100px;
}

.footer-container {
    margin-bottom: 50px;
}

.social-media {
    padding-left: 2px;
    padding-right: 2px;
}

.btn-primary {
    display: block;
    min-width: 120px;
    min-height: 120px;
    background-color: #92A8D1;
    background-image: url("../img/svg/ball.svg");
    color:rgb(255, 255, 255);
    font-weight: bold;
    margin: 15px;
    border-radius: 50%;
}

.modal-content {
    background-image: url(..//img/background/grass-background.png);
    background-size: cover;
    font-family: Amatic SC;
    font-weight: bold;
    font-size: 250%;
    justify-content: center;
}
